* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
    

}

html,
body {

    height: 100%;
    width: 100%;

}

#main {

    position: relative;
    overflow: hidden;

}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}


video {

    width: 50%;
    top: 0%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


}

#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}
#page>nav>h3{
    font-weight: 400;
}

#page-bottom {
    height: 20%;
    width: 25%;

    /* color: white; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#page-bottom>h3 {

    color: white;
    margin-bottom: 1vw;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* z-index: 0; Set a lower z-index for the video */
}

#page1>h1 {
    font-size: 3vw;
    color: wheat;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
    /* Set a higher z-index for the text*/
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2>video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#page2>h1 {
    font-size: 3vw;
    color: wheat;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;


}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: wheat;
}

#page3>video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#page3>h1 {
    font-size: 3vw;
    color: wheat;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;


}

#page4 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: wheat;

}

#page4>video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#page4>h1 {
    font-size: 3vw;
    color: wheat;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;


}

#page4>h2 {
    font-size: 3vw;
    color: wheat;
    font-weight: 400;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;


}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 254);

}

#page5>img {
    width: 60%;
    position: absolute;
    top: 39%;
    left: 20%;
    height: 200px;
    transform: translatex(-50%, -50%);
    height: 45%;


}

#page5-upper {
    height: 25%;
    width: 35%;
    /* background-color: rgb(130, 13, 13); */
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translatex(-50%);
}

#page5-upper>img {

    position: absolute;
    left: -10%;
    top: 10%;
    transform: translatex(50%);
    width: 60%;
    /* background-color: yellow; */

}

#page5-upper-inner {

    height: 50%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20%;
    color: rgb(220, 108, 16);


}

#page5-upper-inner>h3 {
    font-weight: 500;
}

#page5>button {

    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translatex(-50%);
    padding: 20px 30px;
    border: 1px solid black;
    /* font-weight: 500; */
    background-color: white;
    border-radius: 50px;
    /* scale: 1.5; */
    font-size: 1.0vw;
}

#page6 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: green;

}

#page6>video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}

#center-page-6 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 2vw;
    bottom: 100%;


}

#page7 {
    position: relative;
    height: 60vh;
    width: 100vw;
    /* background-color: green; */
    display: flex;


}

.left7 {
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
}

.left7>h1 {
    font-size: 1.9vw;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 20%;

}

.right7 {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 50%;
    /* background-color: rgb(173, 80, 80); */
    padding-left: -10vw;
    /* padding-top:-20 ; */


    
}

.right7>h3 {


    font-size: 1.3vw;
    width: 55%;
    color: rgb(91, 79, 79);
    margin-top: -5%;
    /* padding-left: -60%; */
    margin-left: -25%;

}

.right7>button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(226, 106, 7);
    color: wheat;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    margin-left: -49%;


}


/* #space-top{
    height: 200vh;
    width: 200vw;
    background-color: black;
     margin-top: 20px;
     position: absolute;

} */
#page8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 170vh;
    width: 100vw;
    background-color: #f5f5f7;
    z-index: 2;
    /* margin-top: 5%; */
}
#page8>h3{
    margin-bottom: 1vw;
    /* padding-top: -20px; */
    font-size: 2vw;


   
}
#page8>h1{
    margin-bottom: 2vw;
    font-size: 4vw;

}
#page8>p{
/* margin-bottom: -90px; */
    font-size: 1.2vw;
    width: 60%;
    font-weight: 500;
    color: rgb(40, 40, 37);
  
}

#page8>canvas{
    /* margin-bottom: -20px; */
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;

}

#page9{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
    /* z-index: 2; */


}
#page9>h1{
    top: 0%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translate Y(-50%);
    /* margin-left:10% ;
     */
     right: 5%;
    
    }
    #page9>h2{
   
        top: 50%;
        width: 20%;
        font-size: 1.3vw;
        font-weight: 300;
        color: rgb(71, 67, 67);
        z-index: 99;
        position: absolute;
        transform: translatey(-50%);
        margin-left:10% ;
    left: 5%;
        
        }
#page10{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page10>h1{
   
    top: 50%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translatey(-50%);
    margin-left:10% ;
    left: 5%;
    
    }

#page11{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
    

}

#page11>h1{
   
    top: 50%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translatey(-50%);
    margin-left:10% ;
right: 1%;
    
    }



#page12{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
    

}

#page12>h1{
   
    top: 50%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translatey(-50%);
    margin-left:10% ;
left: 5%;
    
    }


#page13{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
    

}
#page13>h1{
   
    top: 50%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translatey(-50%);
    margin-left:10% ;
left: 5%;
    
    }

#page14{

    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
    

}
#page14>h1{
   
    top: 50%;
    width: 20%;
    font-size: 1.3vw;
    font-weight: 300;
    color: rgb(71, 67, 67);
    z-index: 99;
    position: absolute;
    transform: translatey(-50%);
    margin-left:10% ;
right: 5%;
    
    }


    #page15{
        display: flex;
        align-items: center;
        justify-content: space-around;

        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: #f5f5f7;
        z-index: 2;
    }

    .left15{
        height: 90%;
        width: 45%;
        position: relative;
        background-image: url("https://www.apple.com/v/apple-vision-pro/b/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg");

    }
    .right15{
        height: 90%;
        width: 45%;
        position: relative;
      background-image: url("https://www.apple.com/v/apple-vision-pro/b/images/overview/design/glass_side__gm4agomrwl2e_medium.jpg");

    }
    #page16{
        
        align-items: center;
        justify-content: space-around;

        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: #f5f5f7;
     
        display: flex;
        


    }

    #center-page16{
        
        height: 90%;
        width: 95%;
        position: relative;
        overflow: hidden;
        /* position: absolute; */
        /* position: absolute; */

        /* position: relative; */
      

    }
    #center-page16>video{
        width: 100%;
        height: 100%;
        /* position: absolute; */
      
        object-fit: cover;
        /* left: 12%; */
       
    }

    #page17{
        position: relative;
        height: 140vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    #page17>h2{
        position: absolute;
        width: 50%;
        color: #434343c7;
        font-weight: 500;
        top: 5%;


    }

#page17>img{
    width: 60%;
    position: absolute;
    bottom: 0%;
}
#page17>button{
    position: relative;
    bottom: -40%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #d6520b;
    color: #f5f5f7;
    font-weight: 500;
    border: none;


}

#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}
#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 2;

}
/* #page18>#center-page18{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    position: absolute;
    bottom: 5%;
    background-color: #f5f5f7;
    z-index: 2;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;


} */

#page19{
    position: relative;
    height: 37vh;
    width: 100vw;
    background-color: black;
    color: wheat;
display: flex;
flex-direction: column;
text-align: center;
font-size: 1.5vw;

}
#page19>h5{
    width: 35%;
  
    margin-left: 30%;
    /* top:-20%; */
    /* top: 12%; */

}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page20{
    position: absolute;
    height: 15%;
    width: 20%;
    bottom: 35%;
    right: 5%;
    color: #fff;
    z-index: 2;
}
#center-page20>h1{
    margin-bottom: 1.7vw;
}


#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}



#page21>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page21>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}


#page22{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page22>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page22>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    /* z-index: 99; */
}
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}






    
